<h1><%= @employee.first_name%> <%= @employee.last_name%></h1>

<p><%= @employee.first_name%></p>
<p><%= @employee.alias%></p>
<p><%= @employee.title%></p>
<p><%= image_tag("#{@employee.img_url}", {:style => "width:500px;"}) %></p>
<p><%= @employee.dog.name %></p>

